.section {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  font-family: monospace;
  position: relative;
  margin: 30px 0;
}

/* 每段結尾的那一槓 */
.section::before {
  content: "";
  height: 100%;
  position: absolute;
  right: -15px;
  border-right: 1px solid #000;
}

.half {
  font-size: 16px;
}

.beat {
  width: 23%;
  text-align: center;
  display: inline-block;
  position: relative;
  margin: 0 -3px;
}
.beat-offset-5n-1d { left: -13px; }


/*
1n 左右白各3px 數字9px，加總寬為 15px
1d 左右白個2.5px 點3px，加總寬為 8px
*/
.t-offset {
  position: absolute;
  top: 2px;
}

.offset-1n { left: 23px; }
.offset-1n-1d { left: 18px; }
.offset-2n-1d { left: 11px; }
.offset-3n { left: 8px; }
.offset-3n-1d { left: 3px; }
.offset-4n { left: 1px; }
.offset-4n-1d,
.offset-5n-1d { left: 0px; }

.dot {
  display: inline-block;
  min-width: 3px;
  min-height: 3px;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  top: 2px;
}
.dot-offset-1n { left: 6px; }
.dot-offset-2n { left: 21px; }
.dot-offset-2n-1d { left: 29px; }
.dot-offset-3n { left: 35px; }
.dot-offset-3n-1d { left: 44px; }
.dot-offset-4n { left: 49px; }
.dot-offset-4n-1d { left: 59px; }
.dot-offset-5n-1d { left: 73px; }

.double-eight { top: -2px; }


.arc {
  min-height: 2em;
  display: inline-block;
  padding: 0;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  border-color: #000 transparent transparent;
  position: absolute;
  top: -8px;
}
.arc-2n { min-width: 34px; }
.arc-2n-1d { min-width: 42px; }
.arc-3n { min-width: 51px; }
.arc-4n { min-width: 63px; }
.arc-offset-1n { left: -2px; }
.arc-offset-2n { left: 11px; }
.arc-offset-2n-1d { left: 21px; }
.arc-offset-3n { left: 26px; }

.slide::before,
.slide::after {
  content: "";
  position: absolute;
  display: inline-block;
  background-color: #000;
}
.slide::before {
  height: 1px;
  width: 5px;
  top: 4.5px;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform: rotate(10deg);
}
.slide::after {
  height: 5px;
  width: 1px;
  top: 0.5px;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
.arc-2n::before,
.arc-2n::after { right: 5px; }
.arc-2n-1d::before,
.arc-2n-1d::after { right: 6px; }


.decorate {
  font-size: 12px;
  display: inline-block;
  position: absolute;
  top: -12px;
}

.decorate-offset-1n-depend-1n { left: -8px; }
.decorate-offset-2n-depend-1n { left: -13px; }
.decorate-offset-1n-depend-2n-1d { left: 16px; }

.decorate::before,
.decorate::after {
  content: "";
  display: inline-block;
  position: absolute;
}

.decorate::before {
  width: 100%;
  height: 3px;
  border-top: double #000;
  top: 14px;
  left: 0px;
}

.decorate::after {
  width: 10px;
  height: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent transparent transparent #000;
  border-radius: 50%;
  top: 13px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.decorate-offset-1n-depend-1n::after,
.decorate-offset-1n-depend-2n-1d::after {  left: 3px; }
.decorate-offset-2n-depend-1n::after { left: 6px; }

.decorate .dot {
  min-width: 2px;
  min-height: 2px;
  top: 0px;
}
.decorate-offset-1n-depend-1n .dot,
.decorate-offset-1n-depend-2n-1d .dot,
.decorate-offset-2n-depend-1n .dot-offset-1n { left: 3px; }
.decorate-offset-2n-depend-1n .dot-offset-2n { left: 10px; }

.down-decorate,
.up-decorate {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  position: absolute;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.down-decorate {
  border-color: transparent #000 transparent transparent;
  top: 2px;
}
.down-decorate::before,
.down-decorate::after {
  content: "";
  position: absolute;
  display: inline-block;
  background-color: #000;
}
.down-decorate::before {
  height: 1px;
  width: 4px;
  top: 6px;
  left: 7px;
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
}
.down-decorate::after {
  height: 4px;
  width: 1px;
  top: 4px;
  left: 6px;
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  transform: rotate(-20deg);
}
.down-decorate-offset-1n { left: -8px; }
.down-decorate-offset-2n { left: 7px; }
.down-decorate-offset-2n-1d { left: 16px; }
.down-decorate-offset-3n { left: 21px; }
.down-decorate-offset-3n-1d { left: 30px; }
.down-decorate-offset-4n { left: 36px; }
.down-decorate-offset-4n-1d { left: 44px; }

.up-decorate {
  border-color: #000 transparent transparent transparent;
  top: 8px;
}
.up-decorate::before,
.up-decorate::after {
  content: "";
  position: absolute;
  display: inline-block;
  background-color: #000;
  -webkit-transform: rotate(-25deg);
  -moz-transform: rotate(-25deg);
  -o-transform: rotate(-25deg);
  transform: rotate(-25deg);
}
.up-decorate::before {
  height: 1px;
  width: 4px;
  top: 0.5px;
  left: 4px;
}
.up-decorate::after {
  height: 4px;
  width: 1px;
  top: -3px;
  left: 6.5px;
}
.up-decorate-offset-1n { left: -4px; }
.up-decorate-offset-2n { left: 12px; }
.up-decorate-offset-2n-1d { left: 21px; }
.up-decorate-offset-3n { left: 27px; }
.up-decorate-offset-4n-1d { left: 50px; }


.b-offset {
  position: absolute;
  bottom: 2px;
}

.under {
  position: absolute;
  width: 10px;
  height: 1px;
  background-color: #000;
}
.under-8th { bottom: 4px; }
.under-16th { bottom: 1px; }
.under-32th { bottom: -2px; }
.under-64th { bottom: -5px; }
.under-1n { width: 10px; }
.under-2n { width: 26px; }
.under-2n-1d { width: 34px; }
.under-3n { width: 40px; }
.under-3n-1d { width: 49px; }
.under-4n { width: 54px; }
.under-4n-1d { width: 62px; }
.under-5n-1d { width: 77px; }
.under-offset-1n { left: 2px; }
.under-offset-2n { left: 17px; }
.under-offset-2n-1d { left: 26px; }
.under-offset-3n { left: 32px; }
.under-offset-3n-1d { left: 41px; }
.under-offset-4n { left: 48px; }
.under-offset-4n-1d { left: 56px; }
