.section {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  font-family: monospace;
  position: relative;
  margin: 30px 0;
}

/* 每段結尾的那一槓 */
.section::before {
  content: "";
  height: 100%;
  position: absolute;
  right: -15px;
  border-right: 1px solid #000;
}

.half {
  font-size: 16px;
}

.beat {
  width: 23%;
  text-align: center;
  display: inline-block;
  position: relative;
  margin: 0 -3px;
}

.beat-offset-5n-1d {
  left: -13px;
}


/*
1n 左右白各3px 數字9px，加總寬為 15px
1d 左右白個2.5px 點3px，加總寬為 8px
*/
.t-offset {
  position: absolute;
  top: 2px;
}

.offset-1n {
  left: 23px;
}

.offset-1n-1d {
  left: 18px;
}

.offset-2n-1d {
  left: 11px;
}

.offset-3n {
  left: 8px;
}

.offset-3n-1d {
  left: 3px;
}

.offset-4n {
  left: 1px;
}

.offset-4n-1d,
.offset-5n-1d {
  left: 0px;
}


.dot {
  display: inline-block;
  min-width: 3px;
  min-height: 3px;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  top: 2px;
}

.dot-offset-1n {
  left: 6px;
}

.dot-offset-2n {
  left: 21px;
}

.dot-offset-2n-1d {
  left: 29px;
}

.dot-offset-3n {
  left: 35px;
}

.dot-offset-3n-1d {
  left: 44px;
}

.dot-offset-4n {
  left: 49px;
}

.dot-offset-4n-1d {
  left: 59px;
}

.dot-offset-5n-1d {
  left: 73px;
}

.double-eight {
  top: -2px;
}


.arc {
  min-height: 2em;
  border: 1px solid #000;
  display: inline-block;
  padding: 0;
  border-radius: 50%;
  border-color: #000 transparent transparent;
  position: absolute;
  top: -8px;
}

.arc-2n {
  min-width: 34px;
}

.arc-2n::before,
.arc-2n::after {
  right: 5px;
}

.arc-2n-1d {
  min-width: 42px;
}

.arc-2n-1d::before,
.arc-2n-1d::after {
  right: 6px;
}

.arc-3n {
  min-width: 51px;
}

.arc-4n {
  min-width: 63px;
}

.arc-offset-1n {
  left: -2px;
}

.arc-offset-2n {
  left: 11px;
}

.arc-offset-2n-1d {
  left: 21px;
}

.arc-offset-3n {
  left: 26px;
}

.slide::before,
.slide::after {
  content: "";
  position: absolute;
  display: inline-block;
  background-color: #000;
}

.slide::before {
  height: 1px;
  width: 5px;
  top: 4.5px;
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}

.slide::after {
  height: 5px;
  width: 1px;
  top: 0.5px;
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
}


.b-offset {
  position: absolute;
  bottom: 2px;
}

.under {
  position: absolute;
  width: 10px;
  height: 1px;
  background-color: #000;
}

.under-8th {
  bottom: 4px;
}

.under-16th {
  bottom: 1px;
}

.under-32th {
  bottom: -2px;
}

.under-64th {
  bottom: -5px;
}

.under-1n {
  width: 10px;
}

.under-2n {
  width: 26px;
}

.under-2n-1d {
  width: 34px;
}

.under-3n {
  width: 40px;
}

.under-3n-1d {
  width: 49px;
}

.under-4n {
  width: 54px;
}

.under-4n-1d {
  width: 62px;
}

.under-5n-1d {
  width: 77px;
}

.under-offset-1n {
  left: 2px;
}

.under-offset-2n {
  left: 17px;
}

.under-offset-2n-1d {
  left: 26px;
}

.under-offset-3n {
  left: 32px;
}

.under-offset-3n-1d {
  left: 41px;
}

.under-offset-4n {
  left: 48px;
}

.under-offset-4n-1d {
  left: 56px;
}
